@import 'scss/abstract/variables';

* {
    padding: 0;
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: $color-primary;
}

.navbar {

    >ul {
        height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        >.burger {
            color: $color-secondary;
            margin-right: 70px;
            font-size: 28px;
            display: inline-block;
            

            &:hover {
                background-color: $color-secondary;
                color: $color-primary;
                border-radius: 4px;
                transition: .2s all;
            }
        }
    }

    >hr {
        color: #FEFEE2;        
    }
}

section {
    display: flex;
    justify-content: space-between;

        .introduce {
            display: inline-block;
            

            article {

                .balisehtml, .balisebody, .baliseh1, .balisep {
                    font-family: 'Basic', sans-serif;
                }

                .balisehtml{
                    margin-left: 10px;
                }

                .balisebody {
                    margin-left: 20px;
                }


                p {
                    color: $color-third;
                    font-size: 15px;
                }

                .baliseh1, .balisep, h1, h3 {
                    margin-left: 40px;
                }

                h1, h3 {
                color: $color-secondary;
                }

                .title {
                    font-size: 90px;
                }

                .underTitle {
                    font-size: 60px;
                }

                

            }
        }

        .imageofme {

            p {
                color: $color-third;
                font-size: 15px;
                font-family: 'Basic', sans-serif;
            }

            .meofimage {
                width: auto;
                max-height: 385px;
                opacity: 0,5;
            }

            .C2A {
                background-color: #FBFB7F;
                width: 223px;
                height: auto;
                font-size: 48px;
                padding: 5px;
                border-radius: 15px;
                border: 0;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background-color: #FEFEE1;
                    padding-right: 25px;
                }
            }
        }
    }