.linkPerso {
	text-decoration: none;
}

.button {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    font-size: inherit;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button::before,
.button::after {
    position: absolute;
    width: 7rem;
    height: 3rem;
}

.button--dione {
	background: none;
	padding: 1rem 2.1rem;
    margin-top: 5%;
}

.button--dione span { 
	display: inline-block;
	position: relative;
	color: #fff;
	text-decoration: none;
}

.button--dione::before {
	content: '';
	background: $color-third;
	transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
}

.button--dione:hover::before {
	transform: scale3d(0.9, 0.8, 1);
}

.button--dione::after {
	content: '';
	border: 1px solid $color-third;
	transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
	border-radius: 0px;
	transform: scale3d(0.85, 0.65, 1);
}

.button--dione:hover::after {
	transform: scale3d(1,1,1);
}
