// CONTACT


.formulaire {
    height: 250px;
    width: auto;
    padding-left: 50px;

    form{
        padding-top: 50px;
        font-size: 1.5em;
        text-align: center;
        @media screen and (max-width:1000px) {
            padding: 50px 0 0 0;
        }
        @media screen and (max-width:600px) {
            text-align: start;
            padding: 50px 10px 0 10px;
        }

        
        .name,
        .lookingFor,
        .email
        {
            border-style: none;
            background-color: $color-primary;
            height: 2.1em;
            width: fit-content;
            outline: none;
            font-size: 1em;
            border-style: none none inset none;
            @media screen and (max-width:600px) {
                font-size: 0.8em;
            }
        }
        
        
        
        .c2a {
            margin-left: 150px;
            margin-top: 50px;
            height: auto;
            width: auto;
            background-color: $color-third;
            border-style: none;
            font-size: 0.8em;
            border-radius: 15px;
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            @media screen and (max-width:875px) {
                margin: 50px 0 0 0;
            }
            @media screen and (max-width:600px) {
                margin: 30px 0 0 45px;
                height: 60px;
                width: 150px;
            }
            
            .arrow {
                position: relative;
            }
        }
    }

}