// CONTACT


.contact {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    @media screen and (max-width:800px) {
        grid-template-columns: 1fr;
    }

    
    .contact_title {
        padding-top: 10px;
        color: $color-third;
        font-size: 1.8em;
        text-align: center; 
    }
    
    .cv_container {
        grid-column: 1 / 2;
    }

    .mail_container {
        grid-column: 2 / 3;
        @media screen and (max-width:800px) {
            grid-column: 1 / 2; 
        }
    }
}

.contact_content {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .txt_contact {
        @extend %margin;
        font-size: 1.3em;
        text-align: center;
    }
}


