// CONTACT


.formulaire {
    height: 250px;
    width: auto;
    padding-left: 50px;

    form{
        padding-top: 50px;
        font-size: 1.5em;
        text-align: center;

        
        .name,
        .lookingFor,
        .email
        {
            border-style: none;
            background-color: $color-primary;
            height: 2.1em;
            width: fit-content;
            outline: none;
            font-size: 1em;
            border-style: none none inset none;
        }
        
        
        
        .c2a {
            margin-left: 150px;
            margin-top: 50px;
            height: auto;
            width: auto;
            background-color: $color-third;
            border-style: none;
            font-size: 0.8em;
            border-radius: 15px;
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            &:hover {
                
            }
            
            .arrow {
                position: relative;
            }
        }
    }

}