// FOOTER


footer {
    padding: 10% 5% 0 5%;
    display: flex;
    justify-content: space-between;

    .socialsnetwork {
        display: flex;
        flex-direction: row;
    }

    .socialnetwork {
        text-decoration: none;
        color: $color-third;
    }
}