// FOOTER


footer {
    margin: 10% 0 0 6%;    
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1100px){
        margin-top: 150px;
    }
    @media screen and (max-width:600px) {
        margin: 190px 0 0 0 ;
    }

    .copy {
        @media screen and (max-width:600px) {
            font-size: 0.8em;
        }
    }


    .socialsnetwork {
        display: flex;
        flex-direction: row;
    }

    .socialnetwork {
        text-decoration: none;
        color: $color-forth;
        @media screen and (max-width:600px) {
            font-size: 0.8em;
            margin-right: 20px;
        }
        @media screen and (max-width:1000px){
            padding-right: 0px;
        }
    }
}