// HEADER


.navList {
    height: 70px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:700px) {
        width: auto;
        height: 100px;
        flex-direction: column;
    }

    .pageLink {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 33;

        @media screen and (max-width:700px) {
            padding-top: 15px;
            justify-content: center;
        }
    }

    .navListItem {
        @extend %margin;
        font-size: 2em;
        padding: 1rem;
        font-weight: normal;
        text-decoration: none;

        @media screen and (max-width:700px) {
            font-size: 1.2em;
        }

        &:hover {
            @extend %underline;
        }
    }

    .logo {
        @extend %margin;
        font-size: 5em;
        font-weight: normal;
        text-decoration: none;
        z-index: 33;

        @media screen and (max-width:700px) {
            font-size: 4em;
        }
    }
}