// HEADER


.nav_list {
    height: 70px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:700px) {
        width: auto;
        height: 100px;
    }

    .page_link {
        list-style-type: none;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:700px) {
            flex-direction: column;
            padding-top: 15px;
            justify-content: center;
        }
    }

    .nav_list_item_link {
        @extend %margin;
        font-size: 2em;
        font-weight: normal;
        color: $color-secondary;
        text-decoration: none;
        @media screen and (max-width:700px) {
            font-size: 1.2em;
        }

        &:hover {
            color: $color-third;
            border-bottom: 1px solid $color-third;
        }
    }

    .logo {
        @extend %margin;
        font-size: 5em;
        font-weight: normal;
        color: $color-secondary;
        text-decoration: none;
        @media screen and (max-width:700px) {
            font-size: 4em;
        }
    }
}