// ME


.presentation {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:600px) {
        height: 90vh;
    }

        .introduction{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @extend %margin;

            .line { 
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: calc(65vmin + 40px);

                .verticalLine{
                    border-left: 2px solid $color-secondary;
                    display: inline-block;
                    height: 18em;
                    margin: 0 20px;
                }

                #myCercle {
                    @extend %margin;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid $color-secondary; 
                    @media screen and (max-width:700px) {
                        width: 20px;
                        height: 28px;
                        margin-left: 10px;
                    }
                    @media screen and (max-width:400px) {
                        width: 20px;
                        height: 38px;
                        margin-left: 10px;
                    }
                }
            }

            .title {
                font-size: calc(1vmin + 10px);
                @media screen and (max-width:600px) {
                    margin-top: 4em;
                }

                h1 {
                    font-size: 6em;
                    font-family: 'Cormorant Garamond', serif;
                    color: $color-secondary;
                    @media screen and (max-width:1000px) {
                        font-size: 5em;
                    }
                    @media screen and (max-width:750px) {
                        font-size: 4em;
                    }
                    @media screen and (max-width:475px) {
                        font-size: 3em;
                    }
                    @media screen and (max-width:375px) {
                        font-size: 2.7em;
                    }
                
                }

                .myName {
                    font-size: 1.9em;
                    color: $color-secondary;

                }
                .workLink {
                    font-size: 1.4em;
                    
                    &:hover {
                        color: $color-third;
                    }
                }
            }
        }

    .faceMe {
        min-width: 18vw;
        height: auto;
        margin-right: 15%;
        @media screen and (max-width:1400px) {
            display: none;
        }
        
        .faceDim {
            width: fit-content;
            @media screen and (max-width:1400px){
                display: none;
            }
        }
    }
}