// ME


#presentation {
    padding-top: 2em;
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width:600px) {
        margin-bottom: 50px;
    }

        .introduction{
            display: flex;

            .line { 
                display: flex;
                flex-direction: column;
                height: calc(65vmin + 40px);

                .vertical-line{
                    border-left: 2px solid $color-secondary;
                    display: inline-block;
                    height: 18em;
                    margin: 0 20px;
                }

                #mycercle {
                    border-radius:50%;
                    width:1.2em;
                    height:1.2em;
                    border:2px solid $color-secondary; 
                    @media screen and (max-width:600px) {
                        width: 1em;
                        height: 2em;
                        margin: auto;
                    }
                }
            }

            .title {
                font-size: calc(1vmin + 10px);

                h1 {
                    font-size: 6em;
                    font-family: 'Cormorant Garamond', serif;
                    @media screen and (max-width:1000px) {
                        font-size: 5em;
                    }
                    @media screen and (max-width:700px) {
                        font-size: 4em;
                    }
                    @media screen and (max-width:475px) {
                        font-size: 3em;
                    }
                }

                .myname {
                    font-size: 1.9em;
                }
                .worklink {
                    font-size: 1.4em;
                }
            }
        }

    .faceMe {
        @media screen and (max-width:1400px) {
            display: none;
        }
        
        .faceDim {
            width: 80%;
            height: auto;
            @media screen and (max-width:1400px){
                display: none;
            }
        }
    }
}