// PROJECT


.projects {

    .project_container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .project_items {
            margin: 20px;
            @include size (300px, 300px);
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
            }
            a {
                margin: 20px 0;
            }
            p {
                text-align: center;
            }
        }
    }
}