// PROJECT

.project {
    display: flex;
    flex-direction: column;

    .titleproject {
        font-size: 1.8em;
        color: $color-third;
        text-align: center; 
    }
}


.projects {
    height: 50vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    @media screen and (max-width:800px) {
        height: 100vh;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    @media screen and (max-width:600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .projects_container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .project_items {
            margin: 20px 0 0 0; 
            @include size (300px, 300px);
            display: flex;
            flex-direction: column;
            align-items: center;
            .imgProject {
                width: 100%;
                height: auto;
            }
            .descriptionImg{
                text-align: center;
            }
            @media screen and (max-width: 600px){ 
                @include size (300px, 250px);
            }

            .project_title {
                @extend %margin;
                font-size: 1.3em;
            }
        }
    }
    
    .project1_container {
        grid-column: 2 / 3 ;
        @media screen and (max-width:800px) {
            grid-column: 1 / 2; 
        }
    }

    .project2_container {
        grid-column: 4 / 5 ;
        @media screen and (max-width:800px) {
            grid-column: 1 / 2; 
        }
    }

    
    #abouttt {
        margin: 50px 0 50px 0;
        @media screen and (max-width:1320px) {
            margin: 100px 0 15px 0;
        }
        @media screen and (max-width:1130px) {
            margin: 240px 0 15px 0;
        }
        @media screen and (max-width:1100px) {
            margin: 40px 0 15px 0;
        }
        @media screen and (max-width:600px) {
            margin: 80px 0 15px 0;
        }
        @media screen and (max-width:512px) {
            margin: 110px 0 60px 0;
        }
    }
}