// PROJECT

.project {
    display: flex;
    flex-direction: column;

    .titleProject {
        font-size: 1.8em;
        color: $color-third;
        text-align: center;

        @media screen and (max-width: 600px){ 
            margin-top: 40px;
        }
    }
}


.projects {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .projectsContainer {
        padding: 50px;
        width: auto;
        display: flex;
        justify-content: center;

        .projectItems {
            margin: 20px 0 0 0; 
            @include size (300px, 300px);
            display: flex;
            flex-direction: column;
            align-items: center;
            -webkit-transition: all 1s ease; /* Safari and Chrome */
            -moz-transition: all 1s ease; /* Firefox */
            -ms-transition: all 1s ease; /* IE 9 */
            -o-transition: all 1s ease; /* Opera */
            transition: all 1s ease;

            &:hover {
                -webkit-transform:scale(1.1); /* Safari and Chrome */
                -moz-transform:scale(1.1); /* Firefox */
                -ms-transform:scale(1.1); /* IE 9 */
                -o-transform:scale(1.1); /* Opera */
                transform:scale(1.1);
            }

            .imgProject {
                width: 100%;
                height: auto;
            }
            .descriptionImg{
                text-align: center;
            }
            @media screen and (max-width: 600px){ 
                @include size (300px, 250px);
            }

            .project_title {
                @extend %margin;
                font-size: 1.3em;

                &:hover {
                    @extend %underline;
                }
            }
        }
    }    

}

    #abouttt {
        margin: 4em 0 4em 0;
    }