// SKILLS


#allwork { 
    padding-top: 20px;
    .competence {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 2fr;
        align-items: center;
        
        
        .code {
            height: 5em;
            width: auto;
            display: inline-block;
            margin: 0 auto;
            
            .html5:hover {
                fill: red;
                fill-rule: evenodd;
            }
            
            .css3:hover {
                color: blue;
                fill: blue;
                
            }
        }
            
    }

    .description {
        padding: 100px 0 100px 80px;
        height: 150px;
        width: 350px;

        .description_word{
            font-size: 1.8em;

            .color_word{
                color: $color-third;
            }
        }
    }
}