// SKILLS


.allWork {

    @media screen and (max-width: 600px){ 
        margin: 0 2px;
    }

    .AllLanguage {
        @extend %margin;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 2fr;
        align-items: center;
        @media screen and (max-width:1000px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        @media screen and (max-width:600px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        svg {
            fill: $color-secondary;
            height: 5em;
            width: auto;
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 10px;
            transition: 0.3s;
            @media screen and (max-width:1000px) {
                margin-top: 25px;
            }

            &:hover{
                fill: $color-third;
                transform: scale(1.2);
            }
        
            &:active {
                transform: scale(1.5);
            }
    
        }   
    }

    .description {
        margin: 5% 0 5% 0;
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        @media screen and (max-width:1170px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width:600px) {
            grid-template-columns: 1fr;
            margin: 50px 0 0 0;
        }

        .descrip {
            @media screen and (max-width:600px) {
                margin: 50px 0 0 0; 
            }
        }

        .aboutme {
            @media screen and (max-width:500px) {
                margin-bottom: 50px;
            }
        }
        
        h2 {
            font-size: 1.8em;
            color: $color-third;
            text-align: center;
        }

        p {
            font-size: 1.3em;
            text-align: center;
            padding: 50px 10% 0 10%;
            @media screen and (max-width:600px) {
                padding: 0px 25px 25px 25px;
            }
            @media screen and (max-width:900px) {
                padding: 0;
            }

            .link {
                color: $color-forth;
            }
        }
    }
}

#projectt {
    margin: 0 0 50px 0;
}