%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

%margin {
    margin: 10px;
}