/* Abstracts
--------------------------------------------- */
/* Abstract
--------------------------------------------- */
footer .socialnetwork, .contact_content .txt_contact, .projects .projects_container .project_items .project_title, .allwork .competence, .presentation .introduction .line #mycercle, .presentation .introduction, .nav_list .logo, .nav_list .nav_list_item_link {
  margin: 10px;
}

footer .socialnetwork:hover, .projects .projects_container .project_items .project_title:hover, .nav_list .nav_list_item_link:hover {
  transition: all 0.4s;
  border-bottom: 1px solid #4169E1;
}

/* Base
--------------------------------------------- */
/* Typography
--------------------------------------------- */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  cursor: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: #232323;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
@media screen and (max-width: 600px) {
  *, *::before, *::after {
    margin: 2px;
  }
}

body {
  background-color: #F4F2F3;
  overflow-x: hidden;
}

/* Components
--------------------------------------------- */
/* Animations
--------------------------------------------- */
.link-perso {
  text-decoration: none;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  font-size: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::before,
.button::after {
  position: absolute;
  width: 7rem;
  height: 3rem;
}

.button--dione {
  background: none;
  padding: 1rem 2.1rem;
  margin-top: 5%;
}

.button--dione span {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.button--dione::before {
  content: "";
  background: #4169E1;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.7, 1);
}

.button--dione:hover::before {
  transform: scale3d(0.9, 0.8, 1);
}

.button--dione::after {
  content: "";
  border: 1px solid #4169E1;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.7, 1);
  border-radius: 0px;
  transform: scale3d(0.85, 0.65, 1);
}

.button--dione:hover::after {
  transform: scale3d(1, 1, 1);
}

.goToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 3%;
  right: 2%;
}
.goToTop .arrowTop {
  width: 50px;
  height: 50px;
}

.boxLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.boxLoader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boxLoader .loader path:nth-child(1) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 3s ease-in-out alternate;
}
@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}

.boxLoader.hidden {
  animation: disepear 1s;
  animation-fill-mode: forwards;
}

@keyframes disepear {
  100% {
    opacity: 0;
    display: none;
  }
}
.new-cursor {
  position: absolute;
  z-index: 9999;
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 50%;
  pointer-events: none;
  background-color: #ffff;
  mix-blend-mode: difference;
  transition: 0.1s;
}

.expand {
  width: 28px;
  height: 28px;
  transition: 0.1s;
}

#barre-scroll {
  height: 5px;
  position: fixed;
  z-index: 99999;
  bottom: top;
  background: #4169E1;
}
@media screen and (max-width: 600px) {
  #barre-scroll {
    margin: -4px;
  }
}

[class*=reveal] {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal1 {
  transition-delay: 0s;
}

.reveal2 {
  transition-delay: 0.2s;
}

.reveal3 {
  transition-delay: 0.3s;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

/* Layouts
--------------------------------------------- */
.nav_list {
  height: 70px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .nav_list {
    width: auto;
    height: 100px;
  }
}
.nav_list .page_link {
  list-style-type: none;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .nav_list .page_link {
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
  }
}
.nav_list .nav_list_item_link {
  font-size: 2em;
  font-weight: normal;
  color: #232323;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .nav_list .nav_list_item_link {
    font-size: 1.2em;
  }
}
.nav_list .nav_list_item_link:hover {
  transition: all 0.4s;
  color: #4169E1;
}
.nav_list .logo {
  font-size: 5em;
  font-weight: normal;
  color: #232323;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .nav_list .logo {
    font-size: 4em;
  }
}

.presentation {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .presentation {
    padding-bottom: 12em;
  }
}
.presentation .introduction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.presentation .introduction .line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(65vmin + 40px);
}
.presentation .introduction .line .vertical-line {
  border-left: 2px solid #232323;
  display: inline-block;
  height: 18em;
  margin: 0 20px;
}
.presentation .introduction .line #mycercle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #232323;
}
@media screen and (max-width: 700px) {
  .presentation .introduction .line #mycercle {
    width: 20px;
    height: 28px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .presentation .introduction .line #mycercle {
    width: 20px;
    height: 38px;
    margin-left: 10px;
  }
}
.presentation .introduction .title {
  font-size: calc(1vmin + 10px);
}
@media screen and (max-width: 600px) {
  .presentation .introduction .title {
    margin-top: 4em;
  }
}
.presentation .introduction .title h1 {
  font-size: 6em;
  font-family: "Cormorant Garamond", serif;
  color: #232323;
}
@media screen and (max-width: 1000px) {
  .presentation .introduction .title h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 750px) {
  .presentation .introduction .title h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 475px) {
  .presentation .introduction .title h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 375px) {
  .presentation .introduction .title h1 {
    font-size: 2.7em;
  }
}
.presentation .introduction .title .myname {
  font-size: 1.9em;
  color: #232323;
}
.presentation .introduction .title .worklink {
  font-size: 1.4em;
}
.presentation .introduction .title .worklink:hover {
  color: #4169E1;
}
.presentation .faceMe {
  min-width: 18vw;
  height: auto;
  margin-right: 15%;
}
@media screen and (max-width: 1400px) {
  .presentation .faceMe {
    display: none;
  }
}
.presentation .faceMe .faceDim {
  width: fit-content;
}
@media screen and (max-width: 1400px) {
  .presentation .faceMe .faceDim {
    display: none;
  }
}

.allwork {
  padding-top: 20px;
}
.allwork .competence {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .allwork .competence {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .allwork .competence {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.allwork .competence svg {
  fill: #232323;
  height: 5em;
  width: auto;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: 0.3s;
}
@media screen and (max-width: 1000px) {
  .allwork .competence svg {
    margin-top: 25px;
  }
}
.allwork .competence svg:hover {
  fill: #4169E1;
  transform: scale(1.2);
}
.allwork .competence svg:active {
  transform: scale(1.5);
}
.allwork .description {
  margin: 5% 0 5% 0;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
}
@media screen and (max-width: 1170px) {
  .allwork .description {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .allwork .description {
    grid-template-columns: 1fr;
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .allwork .description .descrip {
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 500px) {
  .allwork .description .aboutme {
    margin-bottom: 50px;
  }
}
.allwork .description h2 {
  font-size: 1.8em;
  color: #4169E1;
  text-align: center;
}
.allwork .description p {
  font-size: 1.3em;
  text-align: center;
  padding: 50px 10% 0 10%;
}
@media screen and (max-width: 600px) {
  .allwork .description p {
    padding: 0px 25px 25px 25px;
  }
}
@media screen and (max-width: 900px) {
  .allwork .description p {
    padding: 0;
  }
}
.allwork .description p .link {
  color: #1A3CA3;
}

#projectt {
  margin: 0 0 50px 0;
}

.project {
  display: flex;
  flex-direction: column;
}
.project .titleproject {
  font-size: 1.8em;
  color: #4169E1;
  text-align: center;
}

.projects {
  width: auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}
.projects .projects_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects .projects_container .project_items {
  margin: 20px 0 0 0;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .projects_container .project_items .imgProject {
  width: 100%;
  height: auto;
}
.projects .projects_container .project_items .descriptionImg {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .projects .projects_container .project_items {
    width: 300px;
    height: 250px;
  }
}
.projects .projects_container .project_items .project_title {
  font-size: 1.3em;
}
@media screen and (max-width: 950px) {
  .projects .project3_container {
    grid-row: 2/3;
  }
}
@media screen and (max-width: 700px) {
  .projects .project3_container {
    grid-row: 3/4;
  }
}
@media screen and (max-width: 950px) {
  .projects .project1_container,
.projects .project3_container {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 700px) {
  .projects .project1_container,
.projects .project2_container,
.projects .project3_container {
    grid-column: 1/2;
  }
}
.projects #abouttt {
  margin: 50px 0 50px 0;
}
@media screen and (max-width: 1320px) {
  .projects #abouttt {
    margin: 100px 0 15px 0;
  }
}
@media screen and (max-width: 1130px) {
  .projects #abouttt {
    margin: 240px 0 15px 0;
  }
}
@media screen and (max-width: 1100px) {
  .projects #abouttt {
    margin: 40px 0 15px 0;
  }
}
@media screen and (max-width: 600px) {
  .projects #abouttt {
    margin: 80px 0 15px 0;
  }
}
@media screen and (max-width: 512px) {
  .projects #abouttt {
    margin: 110px 0 60px 0;
  }
}

.contact {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
.contact .contact_title {
  padding-top: 10px;
  color: #4169E1;
  font-size: 1.8em;
  text-align: center;
}
.contact .cv_container {
  grid-column: 1/2;
}
.contact .mail_container {
  grid-column: 2/3;
}
@media screen and (max-width: 800px) {
  .contact .mail_container {
    grid-column: 1/2;
  }
}

.contact_content {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_content .txt_contact {
  font-size: 1.3em;
  text-align: center;
  color: #232323;
}

footer {
  margin: 10% 2% 0 2%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  footer {
    margin-top: 150px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    margin: 80px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  footer .copy {
    font-size: 0.8em;
  }
}
footer .socialsnetwork {
  display: flex;
  flex-direction: row;
}
footer .socialnetwork {
  text-decoration: none;
  color: #1A3CA3;
}
@media screen and (max-width: 600px) {
  footer .socialnetwork {
    font-size: 0.8em;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  footer .socialnetwork {
    padding-right: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
