/* Abstracts
--------------------------------------------- */
/* Abstract
--------------------------------------------- */
footer .socialNetwork, .contactContent .txtContact, .projects .projectsContainer .projectItems .project_title, .allWork .AllLanguage, .presentation .introduction .line #myCercle, .presentation .introduction, .navList .logo, .navList .navListItem {
  margin: 10px;
}

.projects .projectsContainer .projectItems .project_title:hover, .navList .navListItem:hover {
  border-bottom: 1px solid #4169E1;
}

/* Base
--------------------------------------------- */
/* Typography
--------------------------------------------- */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: #232323;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

*::selection {
  color: #F4F2F3;
  background-color: #4169E1;
}

body {
  background-color: #F4F2F3;
  overflow-x: hidden;
}

/* Components
--------------------------------------------- */
/* Animations
--------------------------------------------- */
.linkPerso {
  text-decoration: none;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  font-size: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::before,
.button::after {
  position: absolute;
  width: 7rem;
  height: 3rem;
}

.button--dione {
  background: none;
  padding: 1rem 2.1rem;
  margin-top: 5%;
}

.button--dione span {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.button--dione::before {
  content: "";
  background: #4169E1;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.7, 1);
}

.button--dione:hover::before {
  transform: scale3d(0.9, 0.8, 1);
}

.button--dione::after {
  content: "";
  border: 1px solid #4169E1;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.7, 1);
  border-radius: 0px;
  transform: scale3d(0.85, 0.65, 1);
}

.button--dione:hover::after {
  transform: scale3d(1, 1, 1);
}

.boxLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.boxLoader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boxLoader .loader path:nth-child(1) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 3s ease-in-out alternate;
}
@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}

.boxLoader.hidden {
  animation: disepear 1s;
  animation-fill-mode: forwards;
}

@keyframes disepear {
  100% {
    opacity: 0;
    display: none;
  }
}
#barre-scroll {
  height: 5px;
  position: fixed;
  z-index: 99999;
  bottom: top;
  background: #4169E1;
}
@media screen and (max-width: 600px) {
  #barre-scroll {
    margin: -4px;
  }
}

[class*=reveal] {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal1 {
  transition-delay: 0s;
}

.reveal2 {
  transition-delay: 0.2s;
}

.reveal3 {
  transition-delay: 0.3s;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

/* Layouts
--------------------------------------------- */
.navList {
  height: 70px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .navList {
    width: auto;
    height: 100px;
    flex-direction: column;
  }
}
.navList .pageLink {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 33;
}
@media screen and (max-width: 700px) {
  .navList .pageLink {
    padding-top: 15px;
    justify-content: center;
  }
}
.navList .navListItem {
  font-size: 2em;
  padding: 1rem;
  font-weight: normal;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .navList .navListItem {
    font-size: 1.2em;
  }
}
.navList .logo {
  font-size: 5em;
  font-weight: normal;
  text-decoration: none;
  z-index: 33;
}
@media screen and (max-width: 700px) {
  .navList .logo {
    font-size: 4em;
  }
}

.presentation {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .presentation {
    height: 90vh;
  }
}
.presentation .introduction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.presentation .introduction .line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(65vmin + 40px);
}
.presentation .introduction .line .verticalLine {
  border-left: 2px solid #232323;
  display: inline-block;
  height: 18em;
  margin: 0 20px;
}
.presentation .introduction .line #myCercle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #232323;
}
@media screen and (max-width: 700px) {
  .presentation .introduction .line #myCercle {
    width: 20px;
    height: 28px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .presentation .introduction .line #myCercle {
    width: 20px;
    height: 38px;
    margin-left: 10px;
  }
}
.presentation .introduction .title {
  font-size: calc(1vmin + 10px);
}
@media screen and (max-width: 600px) {
  .presentation .introduction .title {
    margin-top: 4em;
  }
}
.presentation .introduction .title h1 {
  font-size: 6em;
  font-family: "Cormorant Garamond", serif;
  color: #232323;
}
@media screen and (max-width: 1000px) {
  .presentation .introduction .title h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 750px) {
  .presentation .introduction .title h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 475px) {
  .presentation .introduction .title h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 375px) {
  .presentation .introduction .title h1 {
    font-size: 2.7em;
  }
}
.presentation .introduction .title .myName {
  font-size: 1.9em;
  color: #232323;
}
.presentation .introduction .title .workLink {
  font-size: 1.4em;
}
.presentation .introduction .title .workLink:hover {
  color: #4169E1;
}
.presentation .faceMe {
  min-width: 18vw;
  height: auto;
  margin-right: 15%;
}
@media screen and (max-width: 1400px) {
  .presentation .faceMe {
    display: none;
  }
}
.presentation .faceMe .faceDim {
  width: fit-content;
}
@media screen and (max-width: 1400px) {
  .presentation .faceMe .faceDim {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .allWork {
    margin: 0 2px;
  }
}
.allWork .AllLanguage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .allWork .AllLanguage {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .allWork .AllLanguage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.allWork .AllLanguage svg {
  fill: #232323;
  height: 5em;
  width: auto;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: 0.3s;
}
@media screen and (max-width: 1000px) {
  .allWork .AllLanguage svg {
    margin-top: 25px;
  }
}
.allWork .AllLanguage svg:hover {
  fill: #4169E1;
  transform: scale(1.2);
}
.allWork .AllLanguage svg:active {
  transform: scale(1.5);
}
.allWork .description {
  margin: 5% 0 5% 0;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
}
@media screen and (max-width: 1170px) {
  .allWork .description {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .allWork .description {
    grid-template-columns: 1fr;
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .allWork .description .descrip {
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 500px) {
  .allWork .description .aboutme {
    margin-bottom: 50px;
  }
}
.allWork .description h2 {
  font-size: 1.8em;
  color: #4169E1;
  text-align: center;
}
.allWork .description p {
  font-size: 1.3em;
  text-align: center;
  padding: 50px 10% 0 10%;
}
@media screen and (max-width: 600px) {
  .allWork .description p {
    padding: 0px 25px 25px 25px;
  }
}
@media screen and (max-width: 900px) {
  .allWork .description p {
    padding: 0;
  }
}
.allWork .description p .link {
  color: #1A3CA3;
}

#projectt {
  margin: 0 0 50px 0;
}

.project {
  display: flex;
  flex-direction: column;
}
.project .titleProject {
  font-size: 1.8em;
  color: #4169E1;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .project .titleProject {
    margin-top: 40px;
  }
}

.projects {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects .projectsContainer {
  padding: 50px;
  width: auto;
  display: flex;
  justify-content: center;
}
.projects .projectsContainer .projectItems {
  margin: 20px 0 0 0;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}
.projects .projectsContainer .projectItems:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}
.projects .projectsContainer .projectItems .imgProject {
  width: 100%;
  height: auto;
}
.projects .projectsContainer .projectItems .descriptionImg {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .projects .projectsContainer .projectItems {
    width: 300px;
    height: 250px;
  }
}
.projects .projectsContainer .projectItems .project_title {
  font-size: 1.3em;
}
#abouttt {
  margin: 4em 0 4em 0;
}

.contact {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
.contact .contactTitle {
  padding-top: 10px;
  color: #4169E1;
  font-size: 1.8em;
  text-align: center;
}
.contact .cvContainer {
  grid-column: 1/2;
}
.contact .mailContainer {
  grid-column: 2/3;
}
@media screen and (max-width: 800px) {
  .contact .mailContainer {
    grid-column: 1/2;
  }
}

.contactContent {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactContent .txtContact {
  font-size: 1.3em;
  text-align: center;
  color: #232323;
}

footer {
  margin: 10% 2% 0 2%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  footer {
    margin-top: 150px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    margin: 80px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  footer .copy {
    font-size: 0.8em;
  }
}
footer .socialsNetwork {
  display: flex;
  flex-direction: row;
}
footer .socialNetwork {
  text-decoration: none;
  z-index: 33;
}
@media screen and (max-width: 600px) {
  footer .socialNetwork {
    font-size: 0.8em;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  footer .socialNetwork {
    padding-right: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
