// VARIBLES 
@import "./abstract/variables";
@import "./abstract/mixins";

// RESET
@import "./base/reset";

// COMPONENT
@import "./component/animation";

// LAYOUT
@import "./layout/header";
@import "./layout/me";
@import "./layout/skills";
@import "./layout/contact";
@import "./layout/footer";