// RESET


*, *::after, *::after {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    color: $color-secondary;
    font-family: 'Shree Devanagari 714', Regular;
    @import url(//db.onlinewebfonts.com/c/d02befc8fdd8e5315fb21fa7f38fd55a?family=Shree+Devanagari+714);
    @media screen and (max-width:600px) {
        margin: 2px;
        box-sizing: border-box;
    }
    @media screen and (max-width:1000px) {
        box-sizing: border-box;
    }
}

body {
    // font-size: 62.5%;
    background-color: $color-primary;
    overflow-x: hidden;
}

