// RESET


*, *::after, *::after {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    color: $color-secondary;
    font-family: 'Shree Devanagari 714', normal;
    @media screen and (max-width:600px) {
        margin: 2px;
        box-sizing: border-box;
    }
    @media screen and (max-width:1000px) {
        box-sizing: border-box;
    }
}

body {
    // font-size: 62.5%;
    background-color: $color-primary;
    overflow-x: hidden;
}

@font-face {
    font-family: "Shree Devanagari 714";
    src: url("/assets/font/Shree\ Devanagari\ 714.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

