// RESET


*, *::after, *::after {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    color: $color-secondary;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
        @media screen and (max-width:600px) {
        margin: 2px;
        box-sizing: border-box;
    }
    @media screen and (max-width:1000px) {
        box-sizing: border-box;
    }
}

body {
    // font-size: 62.5%;
    background-color: $color-primary;
    overflow-x: hidden;
}


